<mat-sidenav-content>
    <div>
      <h1>Carrello:</h1>
      <div class="container" style="display: flex; flex-wrap: wrap; flex-grow: 1;">
        <div style="width: 18rem; margin: 10px; flex-basis: 20%;" *ngFor="let item of cartItems; let i = index">
          <div class="card" style="width: 18rem;">
            <a [routerLink]="['/product', item.product_id]">
              <img src="/assets/images/logo.png" class="card-img-top" alt="{{item.product?.nome}}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{item.product?.nome }}</h5>
              <p class="card-text">{{item.product?.marchio}}</p>
              <p>Quantità: {{ item.quantity }}</p>
              <div class="btn-group" role="group">
                <button class="btn  custom-button" (click)="decreaseQuantity(i)">-</button>
                <button class="btn  custom-button" (click)="increaseQuantity(i)" style="margin-right: 100px">+</button>
              </div>
              <button class="btn custom-button" (click)="removeFromCart(i)">Rimuovi</button>
            </div>
            </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

