.custom-button {
  background-color: black;
  border-color: #ffee00;
  color: white;
}

.custom-button:hover {
  background-color: #ffee00;
  border-color: #ffee00;
  color: black;
}


.on-click {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
}

.on-click:hover {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
}
