<div class="company-info" style="margin: 20px; min-height: 1050px;">
  <h2>Informazioni sull'azienda</h2>
  <p>
    Muscle Nerds ormai da alcuni anni è sinonimo di affidabilità e serietà nel mercato italiano dell’integrazione alimentare per lo sport ed il benessere.
    Muscle Nerds si occupa della vendita al dettaglio di integratori alimentari sicuri e di qualità dimostrabile. Per questo basta analizzare la vasta gamma di marchi e prodotti che propone al cliente. Grazie al suo personale qualificato nel campo della nutrizione e dell'allenamento fisico, generale e specifico, sta ottenendo grandi successi anche nella vendita territoriale, mediante rappresentanti, a palestre e negozi del settore.
    Muscle Nerds nel 2011 ha iniziato la produzione di un proprio marchio di integratori, MUSCLE NERDS, che come prima prerogativa ha la Qualità e Convenienza. La nostra azienda si occupa anche della vendita all'ingrosso a centri sportivi, negozi e palestre proponendo una vasta scelta di prodotti a prezzi unici.
    Nell'anno 2013 Muscle Nerds ha trasferito il proprio polo logistico in Europa sempre con personale e amministrazioni italiani per avere la possibilità di effettuare spedizioni in tutta la Comunità Europea, aumentando il proprio listino di prodotti. La nuova società subentrata, Cibum Doo, ha come obiettivo la vendita in oltre 20 paesi differenti mantenendo sempre la qualità del servizio e l'assistenza clienti.
    A partire da Maggio 2013 la nostra azienda ha aperto le sue frontiere cominciando a vendere su tutto il territorio Europeo, con ottimi risultati nelle maggiori capitali europee. Obiettivo dell'anno 2015 della Cibum doo è inziare la vendita verso Asia e America.
  </p>
  <h3>Dati aziendali:</h3>
  <ul>
    <li>Cibum Doo</li>
    <li>Partizanska cesta 79</li>
    <li>6210 - Sezana - Slovenija</li>
    <li>Vat N: SI11883006</li>
    <li>Numero identificazione: 6815006000</li>
    <li>Data di iscrizione del soggetto nell'albo: 30.03.2015</li>
    <li>Numero di registrazione: 2015/14159</li>
  </ul>
  <p>Siamo soggetti ai fini dell’IVA, i Prezzi esposti sul sito si intendono comprensivi di IVA.</p>
  <hr>
  <p>
    CUS CUSENZ<br>
    Via Pietro Bucci,<br>
    Quattromiglia CS – 87036<br>
    Numero di telefono: (+39) 0984 401443<br>
    Data registrazione albo: 30.03.2015<br>
    Srg vpisa subjekta: 2015/14159<br>
    Matična številka: 6815006000<br>
    email: info@cuscosenza.it <br>
  </p>
</div>
