<mat-sidenav-content>
  <div>
    <h1>Specifiche prodotto:</h1>
    <div class="container" style="display: flex; flex-wrap: wrap; flex-grow: 1;">
      <div class="card" style="width: 50%;">
        <img class="card-img-top" src="/./assets/images/logo.png">
        <div class="card-body">
          <h1 class="card-text">{{ product.marchio }}</h1>
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h1 class="card-text">{{ product.marchio }}</h1>
          <h1 class="card-text">{{ product.nome }}</h1>
          <div class="description-container">
            <h3 class="card-text">{{ product.descrizione }}</h3>
            <h3 class="card-text">Prezzo: ${{ product.prezzo }}</h3>
          </div>
        </div>
    </div>
          <div class="card-button-container">
            <a href="" class="btn btn-primary" style="margin-top: 10px;">Aggiungi al carrello</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-content>

