<mat-sidenav-content>
  <div>
    <h1>Specifiche prodotto:</h1>
    <div class="container" style="display: flex; flex-wrap: wrap; flex-grow: 1;">
      <div class="card" style="width: 50%; display: flex;">
        <img class="card-img-top" src="/./assets/images/logo.png" style="flex: 1;">
        <div class="card-body" style="flex: 2;">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <h1 class="card-text">{{ product.marchio }}</h1>
            <h1 class="card-text">{{ product.nome }}</h1>
            <div class="description-container">
              <h3 class="card-text">{{ product.descrizione }}</h3>
              <h3 class="card-text">Prezzo: ${{ product.prezzo }}</h3>
            </div>
            <div class="card-button-container">
              <a href="" class="btn btn-primary" *ngIf="product.available" style="margin-top: 10px;">Aggiungi al carrello</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style=" height: fit-content;">
        <div class="card-body" style="flex: 2;">
          <div style="display: flex; flex-direction: column; height: 30%;">
            <h1 class="card-text">Proprietà del prodotto:</h1>
            <span *ngIf="product.available; else notAvailable"  style="color: green;">Disponibile</span>
            <ng-template #notAvailable>
              <span style="color: red;">Non disponibile</span>
            </ng-template>
              <span *ngIf="product.vegan; else notVegan" style="color: green;">Vegano</span>              <ng-template #notVegan>
                <span style="color: red;">Non vegano</span>
              </ng-template>
            <h3 class="card-text">
              <span *ngIf="product.lactose_free; else notlactose_free"  style="color: green;">Senza lattosio</span>
              <ng-template #notlactose_free>
                <span style="color: red;">Contiene lattosio</span>
              </ng-template>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-content>
