.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;

}


.card:first-child {
  margin-right: 10px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-text {
  margin-bottom: 10px;
}

.card-button-container {
  text-align: right;
}

.description-container {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.card-button-container .btn {
  margin-top: 10px;
}

.custom-button {
  background-color: black;
  border-color: #ffee00;
  color: white;
}

.custom-button:hover {
  background-color: #ffee00;
  border-color: #ffee00;
  color: black;
}

.back{
  background-color: white;
  border-color: black;
  color: black;
}

.back:hover{
  background-color: #ffee00;
  border-color: black;
  color: black;
}
