<mat-sidenav-content>
  <div>
    <h1>Specifiche prodotto:</h1>
    <div class="container" style="display: flex; flex-wrap: wrap; flex-grow: 1;" >
      <div style="width: 150rem; margin: 10px; flex-basis: 20%;" *ngFor="let item of product; let i = index"> <img [src]="item.image" class="card-img-top" alt="{{item.title}}">
        <div class="card" style="width: 100rem;">
          <img class="card-img-top" src="/./assets/images/logo.png" alt="{{item.nome}}">
          <div class="card-body">
            <h5 class="card-title">{{item.nome + " " + i}}</h5>
            <p class="card-text">{{item.marchio}}</p>
            <a href="" class="btn btn-primary">Aggiungi al carrello</a>
          </div>
        </div>
  </div>
  </div>
  </div>



</mat-sidenav-content>
