.custom-button {
  background-color: black;
  border-color: #ffee00;
  color: white;
  border-radius: 25px;
  letter-spacing: 1.3px;

}

.custom-button:hover {
  background-color: #ffee00;
  border-color: #ffee00;
  color: black;
  border-radius: 25px;
  letter-spacing: 1.3px;
}

.product-added {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
  border-radius: 25px;
  letter-spacing: 1.3px;
}

.product-added:hover {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
  border-radius: 25px;
  letter-spacing: 1.3px;
}
