.Spazio_icone {
  flex: 1 1 auto;
}
.mat-toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
mat-form-field {
  margin-top: 20px;
  width: 50%;
  border: 10px;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  background-color: yellow;
}




.logo {
  max-width: 3cm;
  max-height: 10cm;
}

