.custom-button {
  background-color: black;
  border-color: #ffee00;
  color: white;
}

.custom-button:hover {
  background-color: #ffee00;
  border-color: #ffee00;
  color: black;
}

.product-added {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
}

.product-added:hover {
  background-color: #ffee00 !important;
  border-color: #ffee00 !important;
  color: black !important;
}
