<mat-sidenav-content>
  <h1 style="align-self: center">Dai un'occhiata alla categoria {{getCategory()}}:</h1>
    <div class="container" style="display: flex; min-height: 1050px; flex-wrap: wrap; flex-grow: 1;">
      <div style="width: 18rem; margin: 10px; flex-basis: 20%;" *ngFor="let item of product; let i = index">
      <app-card [item]="item"></app-card>
    </div>
  <div style="width: 100%;">
    <button class="btn custom-button" style="margin-left: 40%; margin-top: 5%; margin-bottom: 5%" (click)="loadMoreProduct()" [disabled]="disableLoadMore || !(product.length > 0 && (product.length % 12 === 0))">Carica altri prodotti</button>
  </div>
    </div>
  </mat-sidenav-content>
